


.dropdown-menu>li>form>button {
    display: block;
    border: none;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    background-color: #ffffff;
    width: 100%;
}

.dropdown-menu>li>form>button:hover,
.dropdown-menu>li>form>button:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
}

.w-buton-form:first-child {
    margin-left: 0;

}

.w-buton-form {
    position: relative;
    display: inline-block;
    /*margin-left: 2%;*/
    vertical-align: baseline;


}

.w-buton-befor-table {
    position: relative;
    display: inline-block;
}



/*input_file*/
.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
/*input_file end*/
.w-delete {
    display: none;
    float: right;
}

.w-tr-hover-file-del:hover .w-delete {
   display: inline;
}

.w-float-reset {
    clear: right;
}

.input-group {
    margin-bottom: 2px;
}

.w-cheked-right {
    display: inline-block;
    text-align: right;
}